/* Style.css stylesheet */
body {
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
}
.center {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 100%;
	top:10px;
	overflow-y: scroll;
}
.wrapper {
	width: 768px;
	margin: 0 auto;
	padding: 15px 25px 25px 25px;
	box-shadow: 0 5px 10px #333
}

.logo {
	width: 250px;
	margin: 0 auto
}

.logo img {
	width: 100%;
}

.camplist {
	width: 100%
}

.table tbody tr td {
	vertical-align: middle
}

.table tbody tr.standing-1 {
	background: #FFFFB9;
}

.table tbody tr.standing-1 td:first-child {
	position: relative;
}

.table tbody tr.standing-1 td:first-child:before {
	content: "";
	height: 25px;
	width: 55px;
	background: url(../img/winner.gif) no-repeat;
	background-size: contain;
	position: absolute;
	top: 9px;
	left: 25px;
	z-index: 100
}